@import "tailwindcss";



body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0,0,0,0.8);
  overflow-x: hidden;
}
.container{width: 90%; margin: auto;}

header .top-strip{}

.bg-org{background: #ff5252;}


.link:hover{color: #ff5252;}

.MuiBadge-badge{background: #ff5252 !important; }


nav ul button{text-transform: capitalize !important;}

nav ul button:hover {background: none !important;}

.sliderHome {
  overflow: inherit !important;
}

.homeSlider {
  --swiper-navigation-color: #000;
  --swiper-navigation-size: 22px;
}

.homeCatSlider {
  --swiper-navigation-color: #000;
  --swiper-navigation-size: 22px;
}

.swiper-button-prev::after,
.swiper-button-next ::after{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 20px;
  height: 45px;
  min-width: 45px;
}

.homeCatSlider  .swiper{overflow: inherit !important;}

.homeCatSlider .swiper-button-prev, .homeCatSlider .swiper-button-next{
  width: 30px;
  height: 30px;
  min-width: 30px;
}



.homeCatSlider .swiper-button-prev:after,.homeCatSlider .swiper-button-next:after{
  font-size: 16px !important;
}

.homeCatSlider .swiper-button-prev{
  left: -20px !important;
}

.homeCatSlider .swiper-button-next{
  right: -20px !important;
}

.homeCatSlider .item{border: 1px solid rgba(0,0,0,0.1);}

.homeCatSlider .item:hover img{transform: scale(1.1);}
